*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

:root{
    --text-color: #000000;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;



}